* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  gap: 30px;
  justify-content: space-between;

  .expect-logo {
    display: flex;
    margin-right: 50px;
    align-items: center;
    gap: 20px;
  }

  input {
    width: 69vw;
    border: 2px solid #f7f2f2;
    border-radius: 4px;
    outline: none;
  }
}

.sidebar-maincontent {
  display: flex;
}

.sidebar {
  margin-top: 10vh;
  min-height: 100vh;
  width: 15vw;
  background-color: #1d1f37;
  position: fixed;

  .col-0 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;

    .item-1 {
      display: flex;
      padding: 20px;
      gap: 10px;
      text-align: center;
      justify-content: center;
      color: rgb(179, 179, 204);

      &:hover {
        background-color: #6e00ff;
        color: white;
        border-radius: 4px;
      }
    }
  }
}

@mixin item-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  h4 {
    width:50%;
    font-weight: lighter;
    justify-self: flex-start;
  }
  &:last-child{
    justify-self:flex-start
  }
}

@mixin last-row {
  width: 60%;
  height: 10vh;
  margin-top: 20px;
  h3 {
    font-weight: medium;
  }
  h4 {
    font-weight: lighter;
    word-spacing: 2px;
    font-style: italic;
    padding-top: 10px;
  }
}

.main-content {
  background-color: #f4f4f5;
  margin-left: 15vw;
  width: 85vw;
  min-height: 100vh;
  margin-top: 10vh;
  padding: 10px;

  .row-1 {
    height: 8vh;
    h2 {
      font-weight: bold;
    }
  }
  .row-2 {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    .col-1 {
      width: 60%;
      .row-2_1 {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        h3 {
          background-color: #cecfd8;
          padding: 8px 15px;
          font-weight: lighter;
        }
      }
      .row-2_2 {
        display: flex;
        .col-1 {
          padding-top: 20px;
          width: 50%;
          .items {
            @include item-design();
          }
          margin-right: 30px;
        }
        .col-2 {
          padding-top: 20px;
          width: 50%;
          .items {
            @include item-design();
          }
        }
      }
      .row-2_3 {
        @include last-row();
      }
    }
    .col-2 {
      margin-top: 10vh;
      width: 30%;
      .items {
        @include item-design();
      }
      .row-3 {
        @include last-row();
      }
    }
  }
}

