* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .expect-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav input {
  width: 69vw;
  border: 2px solid #f7f2f2;
  border-radius: 4px;
  outline: none;
}

.sidebar-maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  margin-top: 10vh;
  min-height: 100vh;
  width: 15vw;
  background-color: #1d1f37;
  position: fixed;
}

.sidebar .col-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.sidebar .col-0 .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b3b3cc;
}

.sidebar .col-0 .item-1:hover {
  background-color: #6e00ff;
  color: white;
  border-radius: 4px;
}

.main-content {
  background-color: #f4f4f5;
  margin-left: 15vw;
  width: 85vw;
  min-height: 100vh;
  margin-top: 10vh;
  padding: 10px;
}

.main-content .row-1 {
  height: 8vh;
}

.main-content .row-1 h2 {
  font-weight: bold;
}

.main-content .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content .row-2 .col-1 {
  width: 60%;
}

.main-content .row-2 .col-1 .row-2_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2px;
}

.main-content .row-2 .col-1 .row-2_1 h3 {
  background-color: #cecfd8;
  padding: 8px 15px;
  font-weight: lighter;
}

.main-content .row-2 .col-1 .row-2_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .row-2 .col-1 .row-2_2 .col-1 {
  padding-top: 20px;
  width: 50%;
  margin-right: 30px;
}

.main-content .row-2 .col-1 .row-2_2 .col-1 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.main-content .row-2 .col-1 .row-2_2 .col-1 .items h4 {
  width: 50%;
  font-weight: lighter;
  justify-self: flex-start;
}

.main-content .row-2 .col-1 .row-2_2 .col-1 .items:last-child {
  justify-self: flex-start;
}

.main-content .row-2 .col-1 .row-2_2 .col-2 {
  padding-top: 20px;
  width: 50%;
}

.main-content .row-2 .col-1 .row-2_2 .col-2 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.main-content .row-2 .col-1 .row-2_2 .col-2 .items h4 {
  width: 50%;
  font-weight: lighter;
  justify-self: flex-start;
}

.main-content .row-2 .col-1 .row-2_2 .col-2 .items:last-child {
  justify-self: flex-start;
}

.main-content .row-2 .col-1 .row-2_3 {
  width: 60%;
  height: 10vh;
  margin-top: 20px;
}

.main-content .row-2 .col-1 .row-2_3 h3 {
  font-weight: medium;
}

.main-content .row-2 .col-1 .row-2_3 h4 {
  font-weight: lighter;
  word-spacing: 2px;
  font-style: italic;
  padding-top: 10px;
}

.main-content .row-2 .col-2 {
  margin-top: 10vh;
  width: 30%;
}

.main-content .row-2 .col-2 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.main-content .row-2 .col-2 .items h4 {
  width: 50%;
  font-weight: lighter;
  justify-self: flex-start;
}

.main-content .row-2 .col-2 .items:last-child {
  justify-self: flex-start;
}

.main-content .row-2 .col-2 .row-3 {
  width: 60%;
  height: 10vh;
  margin-top: 20px;
}

.main-content .row-2 .col-2 .row-3 h3 {
  font-weight: medium;
}

.main-content .row-2 .col-2 .row-3 h4 {
  font-weight: lighter;
  word-spacing: 2px;
  font-style: italic;
  padding-top: 10px;
}
/*# sourceMappingURL=style2.css.map */