* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .expect-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav input {
  width: 69vw;
  border: 2px solid #f7f2f2;
  border-radius: 4px;
  outline: none;
}

.sidebar-maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  margin-top: 10vh;
  min-height: 100vh;
  width: 15vw;
  background-color: #1d1f37;
  position: fixed;
}

.sidebar .col-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.sidebar .col-0 .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b3b3cc;
}

.sidebar .col-0 .item-1:hover {
  background-color: #6e00ff;
  color: white;
  border-radius: 4px;
}

.main-content {
  background-color: #f4f4f5;
  margin-left: 15vw;
  width: 85vw;
  min-height: 100vh;
  margin-top: 10vh;
  padding: 10px;
}

.main-content .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main-content .row-1 .issues {
  margin-right: auto;
}

.main-content .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .row-2 .col-1,
.main-content .row-2 .col-2,
.main-content .row-2 .col-3 {
  background-color: #ebecf4;
}

.card {
  margin: 5px;
  padding: 10px;
  background-color: white;
  height: 26vh;
}

.col-heading {
  height: 8vh;
  padding: 10px;
  font-size: larger;
}

.heading-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plus h6,
.date,
.box-heading h6 {
  font-weight: normal;
  color: grey;
}

.high {
  background-color: #e80000;
  color: white;
  border: none;
  padding: 2px;
}

button:focus {
  outline: none;
}

.low {
  background-color: #d0b703;
  color: white;
  border: none;
  padding: 2px;
}

.safe {
  background-color: #4cb600;
  color: white;
  border: none;
  padding: 2px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.box img {
  margin-right: 6px;
}

.box button {
  margin-left: auto;
}

.box-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  color: #383333;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("images/icons-icon_search.svg") center/contain no-repeat;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center/contain no-repeat;
}

input {
  padding: 6px 30px;
}

.row-1 h3 {
  font-weight: lighter;
  color: gray;
}

.issues {
  font-weight: lighter;
  letter-spacing: 1px;
}

.hamburger {
  display: none;
}

.dots {
  display: none;
}

@media only screen and (max-width: 550px) {
  .sidebar {
    display: none;
    width: 70vw;
    height: 100vh;
  }
  .main-content {
    margin-left: 0;
    width: 100vw;
  }
  .row-2 {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0;
  }
  input {
    display: none;
  }
  .user {
    display: none;
  }
  .hamburger,
  .dots {
    display: block;
    width: 35px;
    padding: 5px;
  }
  .expect-logo {
    margin-right: 0;
  }
  .logo {
    margin-right: auto;
  }
  .card-container {
    display: none;
  }
  .col-1 .card-container {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */